<%= turbo_frame_tag contract_history do %>
  <div class="row py-2 border-bottom">
    <div class="col-3"><%= contract_history.company %></div>
    <div class="col-3"><%= contract_history.plan %></div>
    <div class="col-2"><%= contract_history.ampere %>A</div>
    <div class="col-2"><%= contract_history.start_at %></div>
    <div class="col-2">
      <div class="d-flex gap-2">
        <%= link_to "編集", edit_contract_history_path(contract_history), class: "btn btn-sm btn-primary" %>
        <%= button_to "削除", contract_history, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
