<div id="<%= dom_id contract_history %>">
  <p>
    <strong>電力会社:</strong>
    <%= contract_history.company %>
  </p>

  <p>
    <strong>電気料金プラン:</strong>
    <%= contract_history.plan %>
  </p>

  <p>
    <strong>契約容量:</strong>
    <%= contract_history.ampere %>A
  </p>

  <p>
    <strong>契約開始日:</strong>
    <%= contract_history.start_at %>
  </p>

</div>
