<div id="<%= dom_id contract_history %>">
  <p>
    <strong>Company:</strong>
    <%= contract_history.company %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= contract_history.plan %>
  </p>

  <p>
    <strong>Ampere:</strong>
    <%= contract_history.ampere %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= contract_history.start_at %>
  </p>

</div>
