<%= form_with(model: contract_history) do |form| %>
  <% if contract_history.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contract_history.errors.count, "error") %> prohibited this contract_history from being saved:</h2>

      <ul>
        <% contract_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :plan, style: "display: block" %>
    <%= form.text_field :plan %>
  </div>

  <div>
    <%= form.label :ampere, style: "display: block" %>
    <%= form.number_field :ampere %>
  </div>

  <div>
    <%= form.label :start_at, style: "display: block" %>
    <%= form.date_field :start_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
