<%= turbo_frame_tag electricity_bill do %>
  <%= bootstrap_form_with(model: electricity_bill) do |form| %>
    <div class="row py-2 border-bottom">
      <div class="col-4">
        <%= form.month_field :month,
          skip_label: true,
          label_as_placeholder: true,
          wrapper: false
        %>
      </div>
      <div class="col-4">
        <%= form.number_field :amount,
          skip_label: true,
          label_as_placeholder: true,
          wrapper: false
        %>
      </div>
      <div class="col-4">
        <div class="d-flex gap-2">
          <%= form.primary class: "btn btn-sm btn-primary" %>
          <%= link_to "キャンセル", electricity_bill, class: "btn btn-sm btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
