<%= form_with(model: electricity_bill) do |form| %>
  <% if electricity_bill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(electricity_bill.errors.count, "error") %> prohibited this electricity_bill from being saved:</h2>

      <ul>
        <% electricity_bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :month, style: "display: block" %>
    <%= form.date_field :month %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
